/*
    my scss code looks somthing like this:
    &.show {
      @include extend("d-flex");
      animation: ease-in-out flipInX 0.3s;
    }
    it applies the animation but i'm adding the .show class with js, there is a button that toggles this class, but when this class is removed it's not disapearing smoothly, it's just going out without animation.
*/
@keyframes flipInX {
  0% {
    transform: perspective(600px) rotateX(15deg);
    opacity: 0;
  }
  // 70% {
  //   transform: perspective(600px) rotateX(5deg);
  // }
  100% {
    transform: perspective(600px) rotateX(0deg);
    opacity: 1;
  }
}
