$pdf-color: #fc271c;
.icon {
  width: 1em;
  height: 1em;
  &.img {
    color: #f1c40f;
  }
  &.word {
    color: #1b5ebe;
  }
  &.ppt {
    color: #c13b1b;
  }
  &.excel {
    color: #10793f;
  }
  &.html {
    color: rgb(228, 77, 38);
  }

  &.web {
    color: #0984e3;
  }

  &.text {
    color: lighten(#2e86de, 5%);
  }
  &.watermark {
    fill: #e55039;
  }
  &.number {
    fill: #b71540;
  }
  &.rotate {
    color: #10ac84;
  }
  &.lock {
    color: #2980b9;
  }
  &.unlock {
    color: #3498db;
  }
  &.read {
    color: $pdf-color;
  }

  &.remove {
    fill: #d63031;
  }
  &.jpg {
    color: #f1c40f;
  }
  
  &.png {
    color: #3498db;
  }
  
  &.gif {
    color: #636e72;
  }
  
  &.tiff {
    color: #e45453;
  }
  
  &.bmp {
    color: #573b26;
  }
  
  &.svg {
    color: #ffb338;
  }
  
  &.webp {
    color: #6fc21f;
  }
  
  &.heif-heic {
    color: #c376b8;
  }
  
}
