/*
<div className="logo">
  <div className="img-container">
    <img src="/logo.png" alt="PDFEquips logo" />
  </div>
  <span className="text">Equips</span>
</div>
*/
.logo {
  width: 20%;
  height: 10%;
  display: flex;
  align-items: center;
  font-family: "Raleway", sans-serif;
  > * {
    flex: 0 1 15%;
  }
  .img-container {
    flex: 1 0 15%;
  }
  img {
    max-width: 100%;
    object-fit: cover;
  }
  .text {
    align-self: center;
    font-size: 2.3em;
    margin-top: 0.7em;
    font-weight: 400;
  }
  font-family: "Raleway", sans-serif;
}
