/* Extra small devices (phones) */
@mixin xs {
  @media only screen and (max-width: 575px) {
    @content;
  }
}

/* Small devices (tablets) */
@mixin sm {
  @media only screen and (min-width: 576px) and (max-width: 767px) {
    @content;
  }
}

/* Medium devices (desktops) */
@mixin md {
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    @content;
  }
}

/* Large devices (large desktops) */
@mixin lg {
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
    @content;
  }
}

/* Extra large devices (larger desktops) */
@mixin xl {
  @media only screen and (min-width: 1200px) {
    @content;
  }
}

@mixin all-langs {
  :not([lang="ar"]) & {
    @content;
  }
}

@mixin ar-wrapper {
  [lang="ar"] & {
    @content;
  }
}

@mixin bootstrap {
  @include reboot;
  @include root;
  @include type;
  @include images;
  @include containers;
  @include grid;
  @include tables;
  @include forms;
  @include buttons;
  @include transitions;
  @include dropdown;
  @include button-group;
  @include nav;
  @include navbar;
  @include card;
  @include accordion;
  @include breadcrumb;
  @include pagination;
  @include badge;
  @include alert;
  @include progress;
  @include list-group;
  @include close;
  @include toasts;
  @include modal;
  @include tooltip;
  @include popover;
  @include carousel;
  @include spinners;
  @include offcanvas;
  @include placeholders;
  @include helpers;
  @include api;
  @include nav;
}
