@import "./mixins";
@import "cssmolecule";
@import "custom-bs";
@include bootstrap;
@import "./icons-with-colors";
@import "./animations";

html.development,
body.development,
.development,
.app.development {
  height: 100%;
}

.navbar {
  font-family: "Raleway", sans-serif;
  @include extend(
    "navbar justify-content-start navbar-expand-lg bg-light p-0 position-relative"
  );

  &:not(.no-shadow) {
    @include extend("shadow");
  }

  ul {
    list-style: none;
    padding: 0;
  }

  align-content: center;

  .toggler-wrapper {
    @include extend("d-flex w-100 align-items-center");
    // > * {
    //   outline: 1px solid;
    // }

    .logo {
      flex: 0 1 38%;
    }

    .sidebar-toggler {
      flex: 0 1 22%;
    }
  }

  .sidebar-toggler {
    @include extend("btn btn-light d-none");
    flex: 0 1 17%;
    height: 80px;

    .icon {
      width: 80%;
      height: 80%;

      @include xs {
        width: 85%;
        height: 85%;
      }
    }

    @include xs {
      flex: 0 1 16%;
      display: flex !important;
      justify-content: center;
      align-items: center;
    }

    @include sm {
      flex: 0 1 15%;
      display: flex !important;
      justify-content: center;
      align-items: center;

      .icon {
        width: 70%;
        height: 70%;
      }
    }
  }

  .sidebar {
    z-index: 100;
    @include extend("position-absolute bg-light");
    display: flex;
    width: 100%;

    .content {
      flex: 0 0 80%;
    }

    .navbar-overlay {
      position: fixed;
      width: 20%;
      right: -20%;

      @include ar-wrapper {
        right: unset;
        left: -20%;
      }

      --bs-bg-opacity: 0.8;
      transition: cubic-bezier(0.19, 1, 0.22, 1) 1s;
      transition-delay: 0.3s;
      flex: 1;
    }

    left: -100%;

    @include xl {
      display: none;
    }

    @include xs {
      @include ar-wrapper {
        left: unset;
        right: -100%;
      }
    }

    transition: ease 0.3s;

    &.expanded {
      left: 0;

      @include ar-wrapper {
        left: unset;
        right: 0;
      }

      .navbar-overlay {
        @include extend("bg-dark");
        right: 0;

        @include ar-wrapper {
          right: unset;
          left: 0;
        }
      }
    }

    &:not(.expanded) {
      height: 100vh !important;
    }

    > * {
      height: 100%;
    }

    top: 0px;

    .nav-list {
      > .nav-list-item {
        @include extend("p-2");
      }
    }
  }

  .logo {
    flex: 0 1 10%;

    @include xs {
      flex: 0 1 30%;
    }
  }

  .nav-list {
    flex: 0 1 40%;
    margin-top: 0.7em;

    &.hide-xs {
      @include extend("d-none list-unstyled justify-content-between mb-0");

      @media only screen and (min-width: 768px) {
        display: flex !important;
      }
    }

    &.vertical-list {
      @include extend("flex-column");
    }

    .nav-list-item {
      @include extend("nav-item");
    }

    .subnav-container {
      @include extend("position-relative");
      overflow: unset;
    }

    .nav-link {
      @include extend("nav-link");
      // @include ar-wrapper {
      //   // text-align: right;
      //   // @include extend("d-flex justify-content-around align-items-center");
      //   // direction: rtl;
      // }
      unicode-bidi: isolate;

      &:active {
        background: var(--bs-dropdown-link-hover-bg) !important;
        color: var(--bs-dropdown-link-hover-color) !important;
      }

      color: #212529;

      &:hover:not(.dropdown-toggler) {
        color: #0984e3;
      }

      .chevron {
        transition: 0.3s;

        &.flip {
          transform: rotate(180deg);
        }
      }
    }
  }

  .drop-down-container {
    min-width: 35%;

    &.edit-tools {
      min-width: 20%;
    }

    padding: 0.5em;
    top: 86%;

    @include xs {
      top: 2em;
      flex-direction: column;

      > * {
        flex: 1;
      }
    }

    h6 {
      padding-left: 1em;
      font-weight: 600;
    }

    @include extend("align-items-start justify-content-between");
    @include extend("d-none dropdown-menu bg-white");

    &.animate {
      @include extend("d-flex");
      transition: ease-in 0.3s;

      &.show {
        animation: ease-in-out flipInX 0.3s;
      }

      &.hide {
        transform: perspective(600px) rotateX(15deg);
        opacity: 0;
        z-index: -300;
        pointer-events: none;

        &.none {
          display: none !important;
        }
      }
    }

    .nav-list {
      width: auto;
      flex: 0 1 50%;

      li {
        a {
          @include extend("dropdown-item");
        }
      }
    }
  }

  .language-dropdown {
    @include all-langs {
      margin: unset;
      margin-left: auto;
    }

    @include ar-wrapper {
      margin: unset;
      margin-right: auto;
    }

    @include extend("px-2");
    overflow: hidden;

    .dropdown-wrapper {
      min-width: unset;
      flex-direction: column;

      // width: 50%;
      // .nav-link {
      //   &:active {
      //     background: var(--bs-dropdown-link-hover-bg);
      //     color: var(--bs-dropdown-link-hover-color);
      //   }
      // }
      @include md {
        width: 30%;
      }

      @include xl {
        width: 18%;
      }

      @include extend("position-absolute bg-light r-0 p-2 pb-0");

      .nav-list {
        @include extend("w-100");
      }

      top: 80px;

      @include all-langs {
        left: unset;
        right: 1%;
      }

      @include ar-wrapper {
        right: unset;
        left: 1%;
      }

      width: 50%;
      // transition-property: transform !important;
      // &.e {
      //   @include all-langs {
      //     left: 10%;
      //     right: 10%;
      //   }
      //   @include ar-wrapper {
      //     right: unset;
      //     left: 10%;
      //   }
      //   // @media only screen and (min-width: 768px) {
      //   // }
      // }
    }

    .langugage-dropdown-toggler {
      @include extend("btn btn-light");

      &:focus-visible {
        box-shadow: none;
      }
    }
  }

  .home {
    text-decoration: none;
    color: white;
    font-size: xx-small;
  }
}

._h6 {
  @include extend("h6");
}
